{% extends "producto/base_producto.html" %} 

{% load  static %}

{% block panel-content %}

    <div class=" ">
        <h5 class="cell" style="text-align: center;">Detalle </h5>  
        
        <br>

         <form>{% csrf_token %}    
                  
            <div class="grid-container">
              <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <p disabled><span style="font-weight: bold;"onmousedown = 'return false' onselectstart = 'return false'>Guia:</span> {{ object }}</p>
                </div>
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Bolsa:</span> {{ object.bolsa }}</p>
                </div>
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">servicio:</span> {{ object.producto }}</p>
                </div>
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Documento de indentidad:</span> {{ object.d_i }}</p>
                </div>
                
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Motivo:</span> {{ object.mot }}</p>
                </div>
                
                <div class="medium-6 cell">
                    <p><span style="font-weight: bold;">Fecha de ingreso:</span> {{ object.fecha }}</p>
                </div>
                
            </div>
            <br>

            <table class="hover">
              <thead>
                <tr>
                  <th>Registro</th>
                  <th>Fecha</th>
                  <th>Motivo</th>
                  <th>estado</th>
                  <th>Ciudad</th>
               
                </tr>
              </thead>
              <tbody>
                  {% for e in object_lista|dictsortreversed:"id" %}
                <tr>
                  <td><span class="badge primary">{{forloop.counter}}</span></td>
                  <td>{{e.fecha}}</td>
                  <td>{{e.motivopr}}</td>
                  <td>{{e.estado}}</td>
                  <td>{{e.ciudad}}</td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>

            
                <div class="grid-x grid-margin-x small-up-2 medium-up-3">
                  <div class="cell">
                    <div class="card">
                        <div class="card-section">
                            <h4>Prueba de entrega.</h4>
                              
                            </div>
                      <img src="{{object.image_mesa.image.url}}">
                      
                    </div>
                  </div>
                  <div class="cell">
                    <div class="card">
                        <div class="card-section">
                            <h4>Prueba de entrega courrier.</h4>
                           
                          </div>
                          {% if object.img_guia_courrier %}  
                            <img src="{{object.img_guia_courrier.url}}">
                          {% endif %}
                    </div>
                  </div>
                  <div class="cell">
                    <div class="card">
                        <div class="card-section">
                            <h4>Fachada.</h4>
                           
                          </div>
                        {% if object.img_fachada_courrier %}  
                      <img src="{{object.img_fachada_courrier.url}}">
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
             
              </div>
            

              </div>
            </div>
          </form>

          
          </table>
          
          

        

          

{% endblock panel-content %}