{% extends "daviplata/base_daviplata.html" %} 

{% load static %}

{% block panel-content %}

<form  method="GET"> {% csrf_token %}
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6 large-4">
            <span class="label">Fecha</span>
            <select  name="kword" id="kword">
                <option value=""></option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>

        <div class="cell medium-6 large-4">
            <span class="label">Fecha</span>
            <input  type="date" id="date" name="date">
        </div>
        <div class="cell medium-6 large-4">
            <span class="label">Courrier</span>
            <input  type="text" id="kword3" name="kword3">
        </div>
    </div>
        <input  type="submit" class="button secondary" value="Buscar">
    
  </form>
  

  <span class="label success">Total</span> {{count_efectivo}}
<div class="table-scroll">
  <table class="hover">
    <thead>
      <tr>
        <th width="200">Hora</th>
        <th>Courrier</th>
        <th>Mapa</th>
      </tr>
    </thead>
    <tbody>
        {% for e in object_list %}
      <tr>
        <td>{{e.hora}}</td>
        <td>{{e.user}}</td>
        <td>{{e.visualizar}}</td>
      </tr>
        {% endfor %}
      
    </tbody>
  </table>
</div>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> 






{% endblock panel-content %}