{% extends "daviplata/base_daviplata.html" %} 

{% load static %}

{% block panel-content %}

<form  method="GET"> {% csrf_token %}
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6 large-2">
            <span class="label">Tipo efectiva</span>
            <select  name="kword" id="kword">
                <option value=""></option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>

        <div class="cell medium-6 large-2">
            <span class="label">Fecha</span>
            <input  type="date" id="date" name="date">
        </div>
        <div class="cell medium-6 large-2">
            <span class="label">Courrier</span>
            <select name="id" id="id">
                <option value="">--------</option>
                {% for e in user %}
                <option value="{{e.nombres}}">{{e.nombres}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="cell medium-6 large-2">
            <span class="label">Departamento</span>
            <select name="id_dep" id="id_dep">
                <option value="">--------</option>
                {% for e in departamento %}
                <option value="{{e.departamento}}">{{e.departamento}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="cell medium-6 large-2">
            <br>
            <input  type="submit" class="submit success button" value="Buscar">
        </div> 
</form>
  
<div class="table-scroll">
  <table class="hover unstriped stack">
    <caption>Consulta</caption>
    <thead>
      <tr>
        <th>Encuesta</th>
        <th>Hora</a></th>
        <th>Minuto</th>
        <th>Tiempo</th>
        <th>Courrier</th>
        <th>Mapa</th>
      </tr>
    </thead>
    <tbody>
        {% for e in object_list %}
      <tr>
        <td>{{e.fecha_encuesta}}</td>
        <td>{{e.hora}}</td>
        <td>{{e.minuto}}</td>
        <td>{{e.tiempo}}</td>
        <td>{{e.user}}</td>
        <td>{{e.visualizar}}</td>
      </tr>
        {% endfor %}
      
    </tbody>
    <tfoot>
        <tr>
          <th>Gestionados</th>
          <th>{{gestionados}}</th>
          <th>Sin gestion: {{sin_gestion}}</th>
          <th>Total: {{count_completo}}</th>
        </tr>
      </tfoot>
  </table>
</div>

<nav aria-label="Pagination">
    <ul class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <li><a href="?page=1">&laquo; Inicio </a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">Anterior </a></li>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}">Siguiente </a></li>
                <li><a  href="?page={{ page_obj.paginator.num_pages }}">último &raquo; </a></li>
            {% endif %}
        </span>
    </ul>
</nav>
<br><br>

  <table class="hover">
    <thead>
      <tr>
        <th width="360">Entregas</th>
        <th>Qty</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Efectivas</td>
        <td>{{count_efectivo}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Cambio de Direccion PVD</td>
        <td>{{cambio_dir}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Direccion Errada</td>
        <td>{{dir_errrada}}</td>
        <td></td>
      </tr>
      <tr>
        <td>El Cliente No Permitió Realizar encuesta</td>
        <td>{{cliente_no_encuesta}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Local Cerrado</td>
        <td>{{lcl_cerrado}}</td>
        <td></td>
      </tr>
      <tr>
        <td>No Existe PVD</td>
        <td>{{no_pdv}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Otros</td>
        <td>{{otros}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Ya esta Marcado</td>
        <td>{{ya_marcado}}</td>
        <td></td>
      </tr>
    </tbody>
      
  </table>


{% endblock panel-content %}