{% extends "daviplata/base_daviplata.html" %} 

{% load static %}

{% block panel-content %}

<style>
  input:invalid {
    border: 2px dashed red;
  }

  select:invalid {
    border: 2px dashed red;
  }

  select:valid {
    border: 2px solid rgb(144, 208, 187);
  }
</style>
{% if form.errors %}
      <div class="callout alert">
            {{ form.errors }}
      </div>
      {% endif %}
 
  <h4>Actualizar</h4> 

 <form method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>NOMBRE ESTABLECIMIENTO
          {{form.nombre_establecimiento}}
        </label>
      </div>
      <div class="medium-6 cell">
        <label>DIRECCIÓN COMPLETA BASE
          {{form.direccion_c_b}}
        </label>
      </div>
    </div>
  </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>VISITA EFECTIVA
            {{form.visita_efectiva}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>MOTIVO NO EFECTIVA
            {{form.tipo_no_efectiva}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>PDV PERMITE REALIZAR LA VISITA
            {{form.pdv}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>OBSERVACIÓN
            {{form.obervacion}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>DIRECCIÓN ACTUALIZADA
            {{form.direccion_actualizada}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>DETALLE DIRECCIÓN ACTUALIZADA
            {{form.detalle_direccion}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          
        </div>
        <div class="medium-6 cell">
          <label>COINCIDE DIRECCIÓN
            {{form.coincide_direccion}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>NOMBRE DEL ESTABLECIMIENTO ACTUALIZADO
            {{form.mobre_e_a}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>NOMBRE COINCIDE
            {{form.nombre_coincide}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>NOMBRE DE QUIEN ATIENDIÓ LA VISITA
            {{form.nombre_atiende}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>ES DUEÑO?
            {{form.es_dueño}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>NÚMERO MÓVIL
            {{form.numero_movil}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>EL ESTABLECIMIENTO CAMBIÓ DE DUEÑO EN EL ULTIMO AÑO
            {{form.establecimiento_cambio}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>TIPO DE ESTABLECIMIENTO 
            {{form.tipo_establecimiento}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>OTRO TIPO DE ESTABLECIMIENTO
            {{form.otro_d_e}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>TIPO SEÑALIZACION
          {{form.t_senalizacion}}
          </label>
        </div>
        <div class="medium-6 cell">
         
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>SE LOGRO IMPLEMENTAR EL ROMPETRAFICO?
            {{form.se_implementa}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>RAZÓN INDICADA DE NO IMPLEMENTACIÓN
            {{form.razon_no}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
        <div class="callout success">
          <h5>Herramientas</h5>
        </div>
      </div>
    </div>
    
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>IMPRESORA
            {{form.impresora}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>DATÁFONO
            {{form.datafono}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>LECTOR DE CÓDIGO DE BARRAS
            {{form.lector}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>COMPUTADOR
            {{form.computador}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
        <div class="callout success">
          <h5>SERVICIOS</h5>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>PAGO DE PRODUCTOS PROPIOS
            {{form.pago_propios}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>DEPÓSITO DE RETIRO DAVIPLATA
            {{form.deposito_retiro_propio}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>PAGOS DE SUBSIDIOS POR GIROS
            {{form.servicio_pagos}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>RECAUDO SERVICIOS PÚBLICOS Y PRIVADOS
            {{form.servicio_recaudo}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>DEPÓSITOS Y RETIROS DE CUENTAS AHORRO Y CORRIENTE
            {{form.servicio_depositos}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>CONOCIMIENTO PARA REALIZAR TRANSACCIONES
            {{form.transacciones}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>DEPÓSITO Y RETIROS DAVIVIENDA
            {{form.deposito_retiro}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>PAGOS DE SUBSIDIOS POR GIRO
            {{form.pago_subsidios}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>TIPS DE SEGURIDAD
            {{form.tip_seguridad}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>SARLAFT/LAVADO DE ACTIVOS
            {{form.Sarlaft_activos}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>RECAUDO SERVICIOS PÚBLICOS Y PRIVADOS
            {{form.recaudo_servicios}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>TIPS DE RIESGO
            {{form.tip_riesgo}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>FECHA DE LA ÚLTIMA CAPACITACIÓN
            {{form.fecha_capacitacion}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>¿A QUIEN ACUDE?
            {{form.acude}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>MEDIO
            {{form.medio}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>MEDIO ESPECIFICADO
            {{form.medio_especificado}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>SARLAFT ¿A QUIEN INFORMARÍA?
            {{form.sarlaft_informa}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>MATERIAL
            {{form.material}}
          </label>
        </div>
      </div>
    </div>
    
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>IMAGEN FACHADA
            {{form.url_img_f}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>IMAGEN IMPLEMETACIÓN MATERIAL
            {{form.url_img_m}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>IMAGEN OTRA
            {{form.url_img_o}}
          </label>
        </div>
        <div class="medium-6 cell">
           <label>LATITUD
            <textarea readonly onmousedown="return false;" type="text" name="latitud" value="45" maxlength="15" required="" id="id_latitud"></textarea>
            </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>LONGITUD
            <!-- {{form.longitud}} -->
            <textarea readonly onmousedown="return false;" type="text" name="longitud" value="45" maxlength="15" required="" id="id_longitud"></textarea>
            <!-- <textarea name="longitud" id="id_longitud"></textarea> -->
          </label>
        </div>
        <div class="medium-6 cell">
          <label>VISUALIZAR
            {{form.visualizar}}
          </label>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>GRUPO ETNICO
            {{form.grupo_etnico}}
          </label>
        </div>
        <div class="medium-6 cell">
          <label>ESPECIFIQUE GRUPO ETNICO
            {{form.cual}}
          </label>
        </div>
      </div>
    </div>
    

    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <button class="submit success button">Actualizar</button>
        </div>
        <div class="medium-6 cell">
          
        </div>
      </div>
    </div>
  
  </form>


  <!-- <main role="main" class="container">
		<div class="row">
		
			<div class="col-12">
				<h1>Acceder a la ubicación con JavaScript</h1>
				<a href="//parzibyte.me/blog" target="_blank">By Parzibyte</a>
				<br>
				<strong>Latitud: </strong> <p id="latitud"></p>
				<br>
				<strong>Longitud: </strong> <p id="longitud"></p>
				<br>
				<a target="_blank" id="enlace" href="#">Abrir en Google Maps</a>
			</div>
		</div>
	</main> -->
  <!-- <html>

<head>
    <script>
        function displayResult(element)
        {
            document.getElementById(element).value = 'hi';
        }
    </script>
</head>

<body>
    <textarea id="myTextarea" cols="20">
        BYE
    </textarea>
    <br>

    <button type="button" onclick="displayResult('myTextarea')">Change</button>
</body>

</html> -->



{% endblock panel-content %}