{% extends "daviplata/base_daviplata.html" %} 

{% load static %}

{% block panel-content %}
<h1>Ruta: {{total}} </h1>

<table>
    <thead>
      <tr>
        <th width="200">Courrier</th>
        <th>Direccion</th>
        <th>Actualizar</th>
      </tr>
    </thead>
    <tbody>
        
        {% for e in object_list  %}
      <tr>
        <td>{{e.user}}</td>
        <td>{{e.direccion_c_b}}</td>
        <td><a href="{% url 'daviplata-app:enrrutado-update' e %}" class="button "><i class="fi-clipboard-pencil"></i></a></td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>

{% endblock panel-content %}