{% extends "daviplata/base_daviplata.html" %} 

{% load static %}

{% block panel-content %}
<form  method="GET"> {% csrf_token %}
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6 large-7">
      <span class="label">Courrier</span>
      <select name="id" id="id">
        <option value="">--------</option>
        {% for e in user %}
        <option value="{{e.nombres}}">{{e.nombres}}</option>
        {% endfor %}
      </select>
    </div>
  
    <div class="cell medium-2 large-3">
      <br>
      <input  type="submit" class="submit success button" value="Buscar">
    </div> 
  </div>
</form>

<h1>Ruta: {{total}} </h1>

<table>
    <thead>
      <tr>
        <th width="200">Courrier</th>
        <th>Direccion</th>
        <th>Municipio</th>
        <th>Actualizar</th>
      </tr>
    </thead>
    <tbody>
        
        {% for e in object_list  %}
      <tr>
        <td>{{e.user}}</td>
        <td>{{e.direccion_c_b}}</td>
        <td>{{e.municipio}} </td>
        <td><a href="{% url 'daviplata-app:enrrutado-update' e %}" class="button "><i class="fi-clipboard-pencil"></i></a></td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primero</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock panel-content %}