{% extends "producto/base_producto.html" %} 

{% load  static %}

{% block panel-content %}
<div class="grid-x">
  <div class="cell small-5"><span class="label secondary"><a href="{% url 'daviplata-app:vinculacion-create'  %}" >Crear</a></span></div>
  <div class="cell small-5"><h4>Vinculacion</h4>  </div>

  
</div>
<div class="grid-x">
    <div class="cell small-2"><h4> <span class="label">N</span> {{count_nuevo}}</h4></div>
    <div class="cell small-3"><h4><span class="label">N.S.P.N</span> {{count_nspn}}</h4></div>
    <div class="cell small-2"><h4><span class="label">R</span> {{count_r}}</h4></div>
    <div class="cell small-2"><h4><span class="label">N.A</span> {{count_n_a}}</h4></div>
    <div class="cell small-3"><h4><span class="label success">Total</span> {{count}}</h4></div>
  </div>


  <br>

  <form class="cell small-9 input-group" method="GET"> {% csrf_token %}
    <div class="input-group">   
        <span class="input-group-label"><i class="fi-page-search"></i></span>
        <input class="input-group-field" type="text" id="kword" name="kword" placeholder="Buscar establecimiento...">
        <div class="input-group-button">
            <input type="submit" class="button secondary" value="Buscar">
        </div>
    </div>
  </form>

<div class="table-scroll">
    <table class="hover">
        <thead>
          <tr>
            <th>Celular</th>
            <th>Tipo de gestión</th>
            <th width="150">Nombre del cliente DaviPlata</th>
            <th>Nombre del comercio</th>
            <th>Localidad</th>
            <th>Barrio</th>
            <th>Direccion</th>
          </tr>
        </thead>
        <tbody>
            {% for article in object_list %}
          <tr>
            <td>{{article.celular}}</td>
            <td>{{article.tipo_gestion}}</td>
            <td>{{ article.nombre }}</td>
            <td>{{article.nombre_comercio}}</td>
            <td>{{article.localidad}}</td>
            <td>{{article.barrio}}</td>
            <td>{{article.direccion}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; Inicio</a>
          <a href="?page={{ page_obj.previous_page_number }}">Atras</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock panel-content %}