{% extends "producto/base_producto.html" %} 

{% load  static %}

{% block panel-content %}
<div class="grid-x">
    <div class="cell small-5"><span class="label secondary"><a href="{% url 'daviplata-app:vinculacion-create'  %}" >Crear</a></span></div>
    <div class="cell small-5"><h3>Vinculacion</h3>  </div>
  </div>

  <br>

<div class="table-scroll">
    <table class="hover">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Tipo de gestión</th>
            <th width="200">Tipo de identificación</th>
            <th>identificacion</th>
            <th width="150">Nombre del cliente DaviPlata</th>
            <th>Nombre del comercio</th>
            <th width="150">Usuario</th>
          </tr>
        </thead>
        <tbody>
            {% for article in object_list %}
          <tr>
            <td>{{ article.fecha_visita }}</td>
            <td>{{article.tipo_gestion}}</td>
            <td>{{ article.tipo_id }}</td>
            <td>{{ article.identificacion }}</td>
            <td>{{ article.nombre }}</td>
            <td>{{article.nombre_comercio}}</td>
            <td>{{ article.user }}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; Inicio</a>
          <a href="?page={{ page_obj.previous_page_number }}">Atras</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock panel-content %}