{% extends "daviplata/base_daviplata.html" %} 

{% load static %}

{% block panel-content %}

<form method="post">{% csrf_token %}
    <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title">Cliente</a>
          <div class="accordion-content" data-tab-content>

            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>Tipo de gestión</label>
                    {{ form.tipo_gestion }}
                </div>
                <div class="cell medium-6 large-6">
                    <label>Tipo de identificación</label>
                    {{form.tipo_id}}</div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>Número de Identificación del cliente (Sin puntos, ni comas)
                    </label>
                    {{ form.identificacion }}
                </div>
                <div class="cell medium-6 large-6">
                    <label>No. celular activado en DaviPlata</label>
                    {{form.celular}}</div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>Confirmación No. celular activado en DaviPlata
                    </label>
                    {{ form.celular_confirma }}
                </div>
                <div class="cell medium-6 large-6">
                    
                    </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>Nombre del cliente DaviPlata</label>
                    {{ form.nombre }}
                </div>
                <div class="cell medium-6 large-6">
                    <label>Nombre comercio: </label>
                    {{form.nombre_comercio}}</div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>¿Comercio cuenta con RUT?</label>
                    {{ form.c_rut }}
                </div>
                <div class="cell medium-6 large-6">
                    <label>¿A cuál de las siguientes categorías pertenece el comercio?</label>
                    {{form.categoria}}</div>
            </div>

          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Comercio.</a>
          <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>Dirección Comercio</label>
                    {{ form.direccion  }}
                </div>
                <div class="cell medium-6 large-6">
                    <label>Municipio</label>
                    {{form.dane}}</div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>Localidad o Zona</label>
                    {{ form.localidad  }}
                </div>
                <div class="cell medium-6 large-6">
                    <label>Barrio</label>
                    {{form.barrio}}</div>
            </div>
          </div>
          <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>Latitud</label>
                        <textarea readonly onmousedown="return false;" type="text" name="latitud" value="45" maxlength="15" required="" id="id_latitud"></textarea>
                </div>
                <div class="cell medium-6 large-6">
                    <label>LONGITUD</label>
                        <textarea readonly onmousedown="return false;" type="text" name="longitud" value="45" maxlength="15" required="" id="id_longitud"></textarea>
            </div>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Gestion daviplata.</a>
          <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>¿Se realizó registro en DaviPlata?</label>
                    {{ form.registro_daviplata  }}
                </div>
                <div class="cell medium-6 large-6">
                    <label>¿Por qué no se realizó el registro DaviPlata?</label>
                    {{form.motivo_no_registro}}</div>
            </div>
          </div>
          <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>¿Se realizó registro en perfil mi negocio?</label>
                    {{ form.se_registro  }}
                </div>
                <div class="cell medium-6 large-6">
                    <label>¿Por qué no se realizó el registro en perfil mi negocio?</label>
                    {{form.no_registro}}</div>
            </div>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Tencard.</a>
            <div class="accordion-content" data-tab-content>
              <div class="grid-x grid-margin-x">
                  <div class="cell medium-6 large-6">
                      <label>¿Se solicitó la tentcard?</label>
                      {{ form.solicito_tencard  }}
                  </div>
                  <div class="cell medium-6 large-6">
                      <label>¿Por qué no se solicitó la tentcard?</label>
                      {{form.porque_no_solicito}}</div>
              </div>
            </div>
            <div class="accordion-content" data-tab-content>
              <div class="grid-x grid-margin-x">
                  <div class="cell medium-6 large-6">
                      <label>Se pego Sticker</label>
                      {{ form.sticker  }}
                  </div>
                  <div class="cell medium-6 large-6">
                      <label>Razón por la cual no se pegó el sticker</label>
                      {{form.razon_no_sticker}}</div>
              </div>
              <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>Se instaló Flanger</label>
                    {{ form.flanger  }}
                </div>
                <div class="cell medium-6 large-6">
                    <label>Razón por la cual no se instaló el flanger</label>
                    {{form.razon_no_flanger}}</div>
            </div>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">5 Pestaña.</a>
            <div class="accordion-content" data-tab-content>
              <div class="grid-x grid-margin-x">
                  <div class="cell medium-6 large-6">
                      <label>Tipo activación</label>
                      {{ form.tipo_activacion  }}
                  </div>
                  <div class="cell medium-6 large-6">
                      <label>¿Comercio está interesado en Datafóno?</label>
                      {{form.datafono}}</div>
              </div>
            </div>
            <div class="accordion-content" data-tab-content>
              <div class="grid-x grid-margin-x">
                  <div class="cell medium-6 large-6">
                      <label>¿Comercio está interesado en ser corresponsal?</label>
                      {{ form.interesado  }}
                  </div>
                  <div class="cell medium-6 large-6">
                      <label>¿Cliente contingencia?</label>
                      {{form.contingencia}}
                      </div>
              </div>
              <div class="grid-x grid-margin-x">
                <div class="cell medium-6 large-6">
                    <label>El comercio se identifica con algún grupo etnico en particular?</label>
                    {{ form.etnico  }}
                </div>
                <div class="cell medium-6 large-6">
                   
                    </div>
            </div>
            </div>
          </li>
          
      </ul>
    
    <input class="button primary" type="submit" value="Guardar">
</form>

{% endblock panel-content %}