{% extends "guia/base_fisico.html" %} 
{% load static %}
{% block panel-content %}

<h4>Ruta courrier</h4>

<form method="GET"> {% csrf_token %}
<div class="input-group">
    <span class="input-group-label"></span>
    <input class="input-group-field" id="kword" name="kword" type="number">
    <div class="input-group-button">
      <input type="submit" class="button" value="Buscar">
    </div>
  </div>
<div class="table-scroll">
<table class="hover">
    <thead>
        <tr>
            <th>Guia</th>
            <th>Direccion</th>
            <th>Cliente</th>
            <th>Cedula</th>
            <th>Proceso</th>
            <th>Actualizar</th>
        </tr>
    </thead>
    {% for e in guia_mensajeros %}
    <tbody>
        <tr>
            <td>{{e.id_guia}}</td>
            <td>{{e.direccion}}</td>
            <td>{{e.destinatario}}</td>
            <td>{{e.d_i}}</td>
            <td>{{e.proceso}}</td>
            <td><a href="{% url 'producto_app:courrier-update' e  %}" class="button"><i class="fi-print"></i></a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
</form>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primero</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock panel-content %}




