{% extends "daviplata/base_daviplata.html" %} 

{% load static %}

{% block panel-content %}

<form  method="GET"> {% csrf_token %}
    <div class="grid-x grid-margin-x">

        <div class="cell medium-6 large-2">
            <span class="label">Fecha</span>
            <input  type="date" id="date" name="date">
        </div>

        <div class="cell medium-6 large-2">
            <span class="label">Fecha</span>
            <input  type="date" id="date2" name="date2">
        </div>

        <div class="cell medium-6 large-2">
            <span class="label">Tipo Gestion</span>
            <select  name="tipo" id="tipo">
                <option value=0></option>
                <option value=1>Nuevo</option>
                <option value=2>Nuevo Sin Perf. Negocio</option>
                <option value=3>Remarcación</option>
                <option value=4>No Activo</option>
            </select>
        </div>
        
        <div class="cell medium-6 large-2">
            <br>
            <input  type="submit" class="submit success button" value="Buscar">
        </div> 
</form>

<table>
    <thead>
      <tr>
        <th width="200">Nombre</th>
        <th>Apellido</th>
        <th>Ciudad</th>
        <th width="150">Cantidad</th>
      </tr>
    </thead>
    <tbody>
        {% for e in object_list %}
      <tr>
        <td>{{e.nombres}}</td>
        <td>{{e.apellidos}}</td>
        <td>{{e.ciudad.ciudad}}</td>
        <td>{{e.vincula}}</td>
        
      </tr>
      {% empty %}
      <tr>
        <td>Sorry</td> </tr>
      {% endfor %}
      
    </tbody>
    <tfoot>
        <tr>

            <th>Total gestores</th>
      
            <th>{{count_vin}}</th>
            
          </tr>
    </tfoot>
  </table>

{% endblock panel-content %}