{% extends "users/base_users.html" %} {% load static %} {% block panel-content %}

  <div class="grid-x grid-margin-x">
    <div class="cell small-8"><h3>Usuarios</h3></div>
    <div class="cell small-2"><a class="secondary button" href="{% url 'users_app:users-crear'%}">Crear usuario</a></div>
    <div class="cell small-2"><a class="secondary button" href="{% url 'informe-usuarios' %}">Exportar usuarios</a></div>
  </div>

<form class="cell small-9 input-group" method="GET"> {% csrf_token %}
    <div class="input-group">   
        <span class="input-group-label"></span>
        <input class="input-group-field" type="text" id="kword" name="kword" placeholder="Documento...">
        <div class="input-group-button">
            <input type="submit" class="button secondary" value="Buscar">
        </div>
    </div>
</form>

  <table class="hover">
    <thead>
      <tr>
        <th>Usuarios</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>último inicio de sesión</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
    {%for e in user_list%}
      <tr>
        <td>{{e.username}}</td>
        <td>{{e.nombres}}</td>
        <td>{{e.apellidos}}</td>
        <td>{{e.d_i}}</td>
        <td>{{e.last_login}}</td>
        <td><a href="{% url 'users_app:users-update' e.id %}" class="label primary"><i class="fi-filter"></i></a></td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>

      <tr>
        <th>total</th>
        <th>{{count_users}}</th>
      </tr>
  
    </tfoot>
  </table>
  


{% endblock panel-content %}