{% extends "users/base_users.html" %} {% load static %} {% block panel-content %}

<!-- <form class="cell small-9 input-group" method="GET"> {% csrf_token %}
    <div class="input-group">   
        <span class="input-group-label"></span>
        <input class="input-group-field" type="text" id="kword" name="kword" placeholder="Bolsa o seudo...">
        <div class="input-group-button">
            <input type="submit" class="button secondary" value="Buscar">
        </div>
    </div>
</form>

<table>
    <thead>
      <tr>
        <th width="200">Fecha</th>
        <th>Usuario</th>
        <th width="150"></th>
        <th width="150"></th>
      </tr>
    </thead>
    <tbody>
        {% for e in object_list %}
      <tr>
        <td>{{ e.action_time }}</td>
        <td>{{e.user}}</td>
        <td>{{e.content_type}}</td>
        <td>{{e.object_id}}</td>
        <td>{{e.object_repr}}</td>
        <td>{{e.action_flag}}</td>
        <td>{{e.change_message}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->

   



{% endblock panel-content %}