{% extends "users/base_users.html" %} {% load static %} {% block panel-content %}
<h1>Logs Davivienda</h1>


<table>
    <thead>
      <tr>
        <th width="200">Documento</th>
        <th>Usuario</th>
        <th width="150">nombre</th>
        
      </tr>
    </thead>
    <tbody>
        {% for e in object_list %}
      <tr>
        <td>{{e.id}}</td>
        <td>{{e.usuario}}</td>
        <td></td>
      </tr>
        {% endfor %}
      
      
    </tbody>
  </table>

{% endblock panel-content %}